<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Unnii-Local</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontpage.css') }}">
  </head>
  <body>
  <div class="chatbox">
    <h>
      Chat
    </h>
    <div>
      {% for dialogue in chat %}
        <div class="convo">
          <p >{{dialogue}}</p>
        </div>
      {%endfor%}
    </div>
    <form method="POST" class="note-form">
      <textarea name="notes" class="note-text" rows="5" cols="10">{{notes}}</textarea>
      <br>
      <input class="save-button" type="submit" value="Save">
    </form>
  </div>

  <div class="not-chatbox">
    <br>
    <br>
    <br>
    <h>
      Files
    </h>
    <br>
    <br>

    <div class="files">
    {%for dir in files%}
    <a class="file" href='files/{{dir}}'>{{dir}}</a>
    {%endfor%}
    </div>

    <form method=post class="upload-form" enctype=multipart/form-data>
      <input type=file name=file>
      <input class="upload-button" type=submit value=Upload>
    </form>

    <br>
  </div>

  <a class="button" href='gpt'>GPT</button>


  </body>
</html>