<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Unnii-Local</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontpage.css') }}">
  </head>
  <body>
    <h>
      Dynamic Notepad
    </h>
    <form method="POST" class="note-form">
      <textarea name="notes" class="note-text" rows="10" cols="50">{{notes}}</textarea>
      <br>
      <input class="save-button" type="submit" value="Save">
    </form>

    <br>
    <br>
    <br>
    <h>
      Files
    </h>
    <br>
    <br>

    <div class="files">
    {%for dir in files%}
    <a class="file" href='files/{{dir}}'>{{dir}}</a>
    {%endfor%}
    </div>

    <form method=post class="upload-form" enctype=multipart/form-data>
      <input type=file name=file>
      <input class="upload-button" type=submit value=Upload>
    </form>

    <br>

  <a href='gpt'>GPT</button>

  </body>
</html>